body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.title {
    font-size: 60px;
    letter-spacing: 5px;
}

.heart {
    color: red;
}

.message {
    font-size: 20px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff69b4;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff1493;
}
.flower {
    width: 800px;
    animation: float 3s infinite ease-in-out;
    margin-top: 30px;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.petals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.petal {
  position: absolute;
  width: 100px;
  height: 50px;
  background: rgb(109, 15, 15);
  border-radius: 50%;
  animation: fall 6s infinite ease-in;
}

.petal:nth-child(1) { left: 20%; animation-delay: 0s; }
.petal:nth-child(2) { left: 40%; animation-delay: 1s; }
.petal:nth-child(3) { left: 60%; animation-delay: 2s; }
.petal:nth-child(4) { left: 80%; animation-delay: 3s; }
.petal:nth-child(5) { left: 50%; animation-delay: 4s; }

@keyframes fall {
  0% { top: -10px; opacity: 1; transform: rotate(0deg); }
  100% { top: 100vh; opacity: 0; transform: rotate(360deg); }
}
